<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header>
		<div class="container">
			<div id="brandname">
				<b>Campus Recomendation System</b><br>
				Based on Convolutional Neural Network(CNN) | Powered by Python, TensorFlow, Flask, OpenCV<br>
				Image size limit: 1 MB<br>
				By Rajat Agrawal (Github: <a href="https://github.com/rajatvisitme" target="blank"> rajatvisitme</a>) - April, 2020
			</div>
		</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST" enctype=multipart/form-data>
			<p><b>Upload your marksheet, please.</b></p>
			<center>
				<input type="file" accept="image/*" id="file"/ name="file">
				<label for="file">
					Choose a Picture
				</label>

				<input type="submit" class="btn-info" value="Predict">
			</center>
		</form>
		
	</div>

	
	

</body>
</html>