<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header>
		<div class="container">
			<div id="brandname">
				CNN based Campus Recomendation System
			</div>
		</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST" enctype=multipart/form-data>
			<p><b>Upload your marksheet, please.</b></p>
			<center>
				<input type="file" accept="image/*" id="file"/ name="file">
				<label for="file">
					Choose a Picture
				</label>

				<input type="submit" class="btn-info" value="Predict">
			</center>
		</form>
		
	</div>

	
	

</body>
</html>